<ion-header>
  <ion-navbar>
    <ion-title>Registrar riego</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        Planta
      </ion-label>
      <ion-select [(ngModel)]="water.flowerId" interface="popover" mode="ios">
        <ion-option *ngFor="let f of flowers" [value]="f.id">{{ f.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Fecha
      </ion-label>
      <ion-datetime max="2050-12-31" displayFormat="DD/MM/YYYY" [(ngModel)]="water.date"></ion-datetime>
    </ion-item>
    <decimal-input title="Total litros" [amount]="water.amountInMillilitres" (valueUpdate)="amountEvent($event)"></decimal-input>

    <ion-card class="product-card">
      <div class="product-item" *ngFor="let p of products">
        <ion-item>
          <ion-label>
            Producto
          </ion-label>
          <ion-input [(ngModel)]="p.name" text-right ></ion-input>
        </ion-item>
        <decimal-input title="Cantidad ml" [amount]="p.amountInMillilitres" (valueUpdate)="amountProductEvent($event, p)"></decimal-input>
      </div>
      
      <div class="add-box">
        <button ion-button icon-only round outline (tap)="addProduct()" block><ion-icon name="color-fill"></ion-icon></button>
      </div>
    </ion-card>
    
    <div class="save-box" >
      <button ion-button round (click)="save()" block color="primary">Guardar</button>
    </div>

  </ion-list>
</ion-content>
