$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals"; // http://ionicframework.com/docs/theming/overriding-ionic-variables/



$primary:    #008000;
$secondary:  #32db64;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;

$title-bar-color:    #00B300;

$colors: (
  primary:    $primary,
  secondary:  $secondary,
  danger:     $danger,
  light:      $light,
  dark:       $dark
);


$item-padding-x: 0.75rem;




@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";


// My Css
@import "general";



