<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <ion-row>
          <ion-item text-center>
            <img src="../../assets/imgs/plants/plant1.jpg">
          </ion-item>  
        </ion-row>
      </ion-col>
      <ion-col col-7>
        <ion-row style="height: 100%" padding>
          <ion-item>
            <h1>{{name}}</h1>
          </ion-item>
          <ion-item>
            <p>{{fecha}}</p>
            <p>{{genetic}}</p>
            <p>{{period}}</p>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>        
  </ion-grid>
</ion-card>
